# .ebextensions/01_issue_cert.config

container_commands:
  00_issue_cert:
    command: |
      if [ ! -f /etc/letsencrypt/live/ellarises-intex-1-14.is404.net/fullchain.pem ]; then
        certbot certonly --nginx \
          -d ellarises-intex-1-14.is404.net \
          --non-interactive --agree-tos \
          -m your-email@example.com
      fi
    leader_only: true
