packages:
  yum:
    python3-augeas: []

container_commands:
  10_install_certbot:
    command: |
      sudo python3 -m venv /opt/certbot
      sudo /opt/certbot/bin/pip install --upgrade pip
      sudo /opt/certbot/bin/pip install certbot certbot-nginx
      sudo ln -sf /opt/certbot/bin/certbot /usr/bin/certbot
  20_get_certificate:
    command: |
      sudo certbot --nginx -d ellarises-intex-1-14.is404.net --non-interactive --agree-tos --email koapono@byu.edu --redirect
    ignoreErrors: true
  30_renew_cron:
    command: |
      echo "0 0,12 * * * root /opt/certbot/bin/python -c 'import random; import time; time.sleep(random.random() * 3600)' && sudo certbot renew -q" | sudo tee -a /etc/crontab > /dev/null

files:
  /etc/nginx/conf.d/https-redirect.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
          listen 80;
          server_name ellarises-intex-1-14.is404.net;
          
          location /.well-known/acme-challenge/ {
              root /var/www/html;
          }
          
          location / {
              return 301 https://$host$request_uri;
          }
      }
